.my_header{
   border: 1px solid black;
   background-color: black;
   color: white;
   min-height: 4rem;
}
.my_footer{
   border: 1px solid white;
   background-color: black;
   color: white;
}
.my_basket{
   cursor: pointer;
}
.my_main{
   min-height: 55rem;
}
.linkedin{
   text-decoration: none;
   color: white;
   margin-right: 1rem;
   cursor: pointer;
}
.linkedin:hover{
   color: white;
   text-decoration: none;
   border: 1px solid white;
   padding: 1rem;
}
.my_total{
   color: chocolate;
}